In [1]:
import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_c40920d7a32340bfbf8b805e153928df = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='OW62S_Lp5k2Z-g4lBAlWuaWoRBavHeEJoq1K-0b2pvZj',
    ibm_auth_endpoint="https://iam.ng.bluemix.net/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3-api.us-geo.objectstorage.service.networklayer.com')

body = client_c40920d7a32340bfbf8b805e153928df.get_object(Bucket='machinelearningwithpython-donotdelete-pr-bi8558lxmteiiq',Key='Toronto.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

# If you are reading an Excel file into a pandas DataFrame, replace `read_csv` by `read_excel` in the next statement.
df_data_0 = pd.read_csv(body)
df_data_0.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

## Drop Borough  == Not assigned

In [38]:
indexNames = df_data_0[ df_data_0['Borough'] == 'Not assigned'].index
df = df_data_0.drop(indexNames)
df.reset_index(inplace = True, drop = True)
df.head()

  Postal code           Borough                                  Neighborhood
0         M3A        North York                                     Parkwoods
1         M4A        North York                              Victoria Village
2         M5A  Downtown Toronto                    Regent Park / Harbourfront
3         M6A        North York             Lawrence Manor / Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

## replace separator '/' with ','

In [41]:
df['Neighborhood'] = df['Neighborhood'].str.replace(' /',',')
df.head()

  Postal code           Borough                                  Neighborhood
0         M3A        North York                                     Parkwoods
1         M4A        North York                              Victoria Village
2         M5A  Downtown Toronto                    Regent Park , Harbourfront
3         M6A        North York             Lawrence Manor , Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park , Ontario Provincial Government

## combine rows with the same postal code

In [60]:
df1 = df.groupby(['Postal code','Borough'])['Neighborhood'].apply(lambda x: ','.join(x)).reset_index()

## print the shape of the dataframe

In [61]:
print(df1.shape)

(103, 3)

In [62]:

body = client_c40920d7a32340bfbf8b805e153928df.get_object(Bucket='machinelearningwithpython-donotdelete-pr-bi8558lxmteiiq',Key='Geospatial_Coordinates.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

# If you are reading an Excel file into a pandas DataFrame, replace `read_csv` by `read_excel` in the next statement.
df_data_1 = pd.read_csv(body)
df_data_1.head()
df_data_1.shape

(103, 3)

In [70]:
df2 = df1.set_index('Postal code').join(df_data_1.set_index('Postal Code'))
df2.head()

,Borough,Neighborhood,Latitude,Longitude
Postal code,,,,
M1B,Scarborough,"Malvern , Rouge",43.806686,-79.194353
M1C,Scarborough,"Rouge Hill , Port Union , Highland Creek",43.784535,-79.160497
M1E,Scarborough,"Guildwood , Morningside , West Hill",43.763573,-79.188711
M1G,Scarborough,Woburn,43.770992,-79.216917
M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [71]:
df2.reset_index(inplace = True)
df2.head()

,Postal code,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern , Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill , Port Union , Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood , Morningside , West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476